.left{
    width: auto;
    margin: 0;
}

.top-nav{
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    font-family: 'Helvetica Neue';
    font-weight: 500;
    border-bottom: 1px solid lightgrey;
    margin: 0;
    width: auto;
    top: 0;

}

.top-nav :last-child{
    float: right;
}

.top-nav-items{
    float: left;

}

.top-nav-items a{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    background-color:white;
}

.top-nav-items a:hover{
    background-color: rgb(237, 237, 237);
}


.top-nav-img {
    float: left;
    padding-top: 0.6%;
    display: block;
    background-color: none;
    width: 9%;
    margin: 0%;
    padding-right: 1.5%;
    border-right: 1px solid lightgrey;
}


.top-nav-bloghome{
    float: left;
    padding-left: 1%;

}

.top-nav-bloghome a{
    display: block;
    color: blue;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    background-color:white;
}

.top-nav-bloghome a:hover{
    color: lightgrey;
}

.top-nav-join{
    float: right;

}

.top-nav-join a{
    display: block;
    color: white;
    text-align: center;
    padding: 12px 12px;
    margin-top: 2px;
    text-decoration: none;
    background-color:rgb(85 83 255);
    opacity: 0.6;
}

.top-nav-join a:hover{
    opacity: 1;
}

