*{
    font-family: monospace;
}

body{
    background-color: beige;
}

.h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(50, 168, 129);
}

.caption{
    background-color: rgb(50, 56, 62);
}

h2{
    background-color: gray;
}

#lists{
    background-color: bisque;
    border: 4px solid black;
    width: 20%;
    padding: 2%;
}

#methodlist{
    background-color: bisque;
    border: 4px solid black;
    width: 41%;
    padding: 3%;
}

a{
    text-decoration: none;
    font-weight: bold;
    opacity: 0.4;
}

a:hover{
    opacity: 1;
}